<div>
    @foreach (var course in Model.EnrolledCourses)
    {
        <div class="d-flex align-items-center mb-2 mt-4">
            <img class="language-flag me-2" src="~/images/flags/@(course.CourseTopic).jpg" alt="" style="width: 30px; height: auto;"/>
            <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id" class="ms-1 fw-bold text-decoration-none" style="font-size: 1.5rem;">@course.Title</a>
        </div>
        <ol class="list-group list-group-numbered list-group-flush">
            @foreach (var lecture in course.Lectures)
            {
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div>
                            <a asp-controller="Lecture" asp-action="Details" asp-route-courseId="@lecture.CourseId" asp-route-id="@lecture.Id" class="text-decoration-none">@lecture.Title</a>
                        </div>
                    </div>
                </li>
            }
        </ol>
    }
</div>