@{
    ViewData["Title"] = "Home Page";

    bool isLogged = User.Identity.IsAuthenticated;
    string? currentUser = isLogged ? User.Identity.Name : "";

    AvatarHelper avatarHelper = new AvatarHelper();
}

@model HomeIndexViewModel;

<div class="hero">
    <section class="hero-left">
        @{
            if (isLogged)
            {
                <div id="greeting-container">
                    <h1 id="greeting" , @currentUser></h1>
                </div>
            }
            else
            {
                <h1>Empower Your Language Journey</h1>
            }
        }
        <h4>Your Gateway to Fluent Learning!</h4>
        <p style="text-align:justify">
            Master languages at your pace, from beginners to advanced. 
            Redefine language education from home.
        </p>

        @{
            if (!isLogged)
            {
                <a asp-controller="Account" asp-action="Register" class="btn btn-primary btn-lg" style="border-radius: 10px;">Join now</a>
            }
            else
            {
                <a asp-controller="Course" asp-action="Index" class="btn btn-primary btn-lg" style="border-radius: 10px;">Explore</a>
            }
        }
    </section>

    <section class="right">
        <img src="~/images/home-temp.png" alt="Hero illustration" />
    </section>
</div>

<div style="text-align: center; margin-bottom: 15px;">
    <h4><span class="badge bg-primary">Benefits</span></h4>
</div>

<div class="bullet-points" id="grad1">
    <p>
        <i class="fa-solid fa-trophy"></i>
        <br />
        Discover personalized learning perks. Crafted videos, seamless assignments, and tailored success await
    </p>
    <p>
        <i class="fa-solid fa-user-group"></i>
        <br />
        Discover the power of collective learning. Join a vibrant community of learners
    </p>
    <p>
        <i class="fa-solid fa-heart"></i>
        <br />
        Embrace the ease of online learning. Engage, submit, and excel from the comfort of your living room

    </p>
</div>


<div style="text-align: center; margin-bottom: 20px;">
    <button class="btn btn-primary btn-success btn-sm" id="popularButton" style="margin-bottom: 5px;"><b>Popular</b></button>
    <button class="btn btn-primary btn-sm" id="ratingButton" style="margin-bottom: 5px;"><b>Top Rated</b></button>
    <button class="btn btn-primary btn-sm" id="newestButton" style="margin-bottom: 5px;"><b>Newest</b></button>
</div>



@*MOST POPULAR*@
<div id="popularBlock">
    <div class="d-flex card-carousel rounded-1">
        @foreach (var course in Model.CoursesByPopularity)
        {
            <div class="card" style="width: 18rem;">

                <div class="card-body">
                    <h5 class="card-title">
                        <img class="language-flag" src="~/images/flags/svgFlags/@(course.CourseTopic).svg" alt="" />
                        @course.Title
                    </h5>
                    <hr />
                    <p class="card-text">@course.Description</p>
                </div>

                <div class="card-footer">
                    <div class="d-flex justify-content-between">
                        <div>
                            <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id" class="btn btn-primary btn-sm">Go to course</a>
                        </div>

                        <div style="margin-top: 5px;">
                            @{var rating = course.Ratings.Any() ? course.Ratings.Average(r => r.Value) : 0;}

                            <i class="fa-regular fa-user" style="margin-left:4px; margin-right: 1px;"></i> @course.EnrolledStudents.Count()
                            <i class="fa-regular fa-star" style="margin-left:4px; margin-right: 1px;"></i> @rating
                        </div>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

@*TOP RATED*@
<div id="ratingBlock" class="hidden">
    <div class="d-flex card-carousel rounded-1">
        @{
            if (Model.CoursesByRating is not null)
            {
                foreach (var course in Model.CoursesByRating)
                {
                    <div class="card" style="width: 18rem;">

                        <div class="card-body">
                            <h5 class="card-title">
                                <img class="language-flag" src="~/images/flags/svgFlags/@(course.CourseTopic).svg" alt="" />
                                @course.Title
                            </h5>
                            <hr />
                            <p class="card-text">@course.Description</p>
                        </div>

                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id" class="btn btn-primary btn-sm">Go to course</a>
                                </div>

                                <div style="margin-top: 5px;">
                                    @{
                                        var rating = course.Ratings.Any() ? course.Ratings.Average(r => r.Value) : 0;
                                    }

                                    <i class="fa-regular fa-user" style="margin-left:4px; margin-right: 1px;"></i> @course.EnrolledStudents.Count()
                                    <i class="fa-regular fa-star" style="margin-left:4px; margin-right: 1px;"></i> @rating
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }
        }
    </div>
</div>

@*NEWEST*@
<div id="newestBlock" class="hidden">
    <div class="d-flex card-carousel rounded-1">
        @{
            if (Model.CoursesByDate is not null)
            {
                foreach (var course in Model.CoursesByDate)
                {
                    <div class="card" style="width: 18rem;">

                        <div class="card-body">
                            <h5 class="card-title">
                                <img class="language-flag" src="~/images/flags/svgFlags/@(course.CourseTopic).svg" alt="" />
                                @course.Title
                            </h5>
                            <hr />
                            <p class="card-text">@course.Description</p>
                        </div>

                        <div class="card-footer">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id" class="btn btn-primary btn-sm">Go to course</a>
                                </div>

                                <div style="margin-top: 5px;">
                                    @{
                                        var rating = course.Ratings.Any() ? course.Ratings.Average(r => r.Value) : 0;
                                    }

                                    <i class="fa-regular fa-user" style="margin-left:4px; margin-right: 1px;"></i> @course.EnrolledStudents.Count()
                                    <i class="fa-regular fa-star" style="margin-left:4px; margin-right: 1px;"></i> @rating
                                </div>
                            </div>
                        </div>

                    </div>
                }
            }
        }
    </div>
</div>


<div style="text-align: center; margin-bottom: 15px;">
    <h4><span class="badge bg-primary">Insights</span></h4>
</div>

<div class="bullet-points" id="grad1">
    <p>
        <i class="fa-solid fa-people-group"></i>
        <br />
        Currently, our platform boasts @Model.UsersCount users, fostering a diverse and active community dedicated to knowledge acquisition.
    </p>
    <p>
        <i class="fa-solid fa-graduation-cap"></i>
        <br />
        Choose from @Model.CoursesCount courses on our platform, providing a structured curriculum to meet your learning objectives.
    </p>
    <p>
        <i class="fa-regular fa-file"></i>
        <br />
        Explore our language-focused library with @Model.LecturesCount lectures, each tailored to enhance your fluency in diverse languages.
    </p>
</div>

@*TEACHERS*@
<div style="text-align: center; margin-bottom: 15px;">
    <h4><span class="badge bg-primary">Our Crew</span></h4>
</div>

<div class="d-flex card-carousel rounded-1">

    @{
        if (Model.Teachers is not null)
        {
            foreach (var teacher in Model.Teachers)
            {
                string avatarLocation = avatarHelper.GetAvatar(teacher.Username);

                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <div class="d-flex justify-content-center" style="margin-bottom: 3px;">
                            <div>
                                <img class="circle-avatar-home" src="~/images/avatars/@avatarLocation" alt="avatar" />
                            </div>
                        </div>

                        <div class="d-flex justify-content-center">
                            <div>
                                <strong>@teacher.FirstName @teacher.LastName</strong>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <div style="font-size: 13px;">
                                Teacher in @teacher.CreatedCourses.Count() courses
                            </div>
                        </div>
                    </div>

                    @{
                        Course? course = teacher.CreatedCourses.FirstOrDefault();
                    }

                    <a asp-controller="Course" asp-action="Details" asp-route-id="@course.Id">
                        <div class="card-footer text-center">
                            @{
                                <div class="btn btn-secondary btn-sm">
                                    <img class="language-flag-small" src="~/images/flags/svgFlags/@(course.CourseTopic).svg" alt="" />
                                    @course.Title
                                </div>
                            }
                        </div>
                    </a>

                </div>
            }
        }
        
    }
</div>

<script>
    function toggleBlockVisibility(showBlockId, buttonId, hideBlockIds, hideButtonIds) {
        var showBlock = document.getElementById(showBlockId);
        var showButton = document.getElementById(buttonId)
        showButton.classList.add('btn-success')
        showBlock.classList.remove('hidden');

        hideBlockIds.forEach(function (blockId) {
            var hideBlock = document.getElementById(blockId);
            hideBlock.classList.add('hidden');
        });

        hideButtonIds.forEach(function (buttonId)
        {
            var hideButton = document.getElementById(buttonId)
            hideButton.classList.remove('btn-success')
        })
    }

    document.getElementById('popularButton').addEventListener('click', function () {
        toggleBlockVisibility('popularBlock', 'popularButton', ['newestBlock', 'ratingBlock'], ['ratingButton', 'newestButton']);
    });

    document.getElementById('ratingButton').addEventListener('click', function () {
        toggleBlockVisibility('ratingBlock', 'ratingButton', ['newestBlock', 'popularBlock'], ['popularButton', 'newestButton']);
    });

    document.getElementById('newestButton').addEventListener('click', function () {
        toggleBlockVisibility('newestBlock', 'newestButton', ['popularBlock', 'ratingBlock'], ['ratingButton', 'popularButton']);
    });

    @*GREETING*@
    document.addEventListener("DOMContentLoaded", function () {
        var currentTime = new Date().getHours();
        var greetingElement = document.getElementById("greeting");

        if (currentTime >= 5 && currentTime < 12) {
            greetingElement.textContent = "Good Morning, @currentUser!";
        } else if (currentTime >= 12 && currentTime < 18) {
            greetingElement.textContent = "Good Afternoon, @currentUser!";
        } else {
            greetingElement.textContent = "Good Evening, @currentUser!";
        }
    });

</script>


@* todo Move to site.css when done*@
<style>
#popularBlock{
    display: block;
}

#newestBlock.hidden,
#popularBlock.hidden,
#ratingBlock.hidden {
    display: none;
}

.card-carousel{
    border: 1px solid gray;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
    justify-content: space-between;
    margin-bottom: 3rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#grad1 {
    height: 200px;
    background-image: linear-gradient(to right, #4158D0, #C850C0,#FFCC70);
}

.bullet-points{
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
    justify-content: space-between;
}

.bullet-points section{
    flex: 1;
}

.bullet-points p {
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 25px;
    color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
    text-align: justify;
}

.bullet-points i {
    font-weight: 600;
    line-height: 1.5;
    color: #ffff;
    justify-content: center;
    margin-left: 40%;
}

.hero {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.hero section {
    flex: 1;
}
.hero-left h1 {
    font-size: 2.5rem;
    margin-bottom: 25px;
    color: #070439;
}

.hero-left p {
    font-weight: 600;
    line-height: 1.5;
    margin-bottom: 25px;
    color: #444444;
}

.hero-left {
    padding-right: 40px;
}
/* .hero-left a {
    padding: 10px 15px;
    background: #372cfa;
    color: #fff;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.3s all ease;
    border-radius: 20px;
} */

.right {
    padding-top: 50px;
}

.right img {
    width: 100%;
    max-width: 465px;
}
@@media screen and (max-width: 1000px) {
    nav img {
    width: 100px; 
    }

  nav li {
    list-style: none;
    margin: 0 8px 
  }

  .hero {
    flex-direction: column;  
    text-align: center; 
  }

  .hero .right {
    order: -1;  
    padding-bottom: 5rem; 
  }
}
</style>
