@model AccountInfoViewModel;

@{
    ViewData["Title"] = "Profile Info";
    var draftCourses = Model.CreatedCourses.Where(c => c.Published).ToList();
}

<style>
    .circle-avatar {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }

    .circle-avatar-container {
        width: 100px;
        height: 100px;
        margin: 0 auto 15px auto;
    }

    .list-group-item.no-border {
        border: none !important;
    }

    .list-group:not(:last-child) {
        border-bottom: none;
    }

    .username {
        font-size: 1.7rem;
        font-weight: bold;
        color: #333;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
        max-width: 400px;
        margin: 0 auto 20px auto;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 1px;
    }

    .user-info-container {
        display: flex;
        justify-content: center; /* Center the columns horizontally */
        align-items: flex-start; /* Align the columns to the top */
        gap: 100px; /* Optional: adds space between the columns */
    }

    .user-card-container {
        max-width: 300px;
    }

    .user-content-container {
        flex: 1;
    }

    .language-flag {
        width: 28px;
        height: 20px;
        border-radius: 10%;
        object-fit: cover;
        box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    }


</style>

<div class="user-info-container">

    <div class="user-card-container">
        <div class="circle-avatar-container">
            <img class="circle-avatar" src="~/@Model.AvatarUrl" alt=""/>
        </div>

        <h3 class="username">@Model.Username</h3>

        <div class="card" style="margin: auto;">

            <div class="card-body pb-1">
                <h5 class="card-title">Profile Information</h5>
            </div>

            <ul class="list-group list-group-flush">
                <li class="list-group-item no-border">
                    Username: <strong>@Model.Username</strong>
                </li>
                <li class="list-group-item no-border">
                    Role: <strong>@Model.UserRole</strong>
                </li>
                <li class="list-group-item no-border">
                    Email: <strong>@Model.Email</strong>
                </li>
                <li class="list-group-item no-border">
                    First Name: <strong>@Model.FirstName</strong>
                </li>
                <li class="list-group-item no-border">
                    Last Name: <strong>@Model.LastName</strong>
                </li>

            </ul>

            <ul class="list-group list-group-flush no-border">
                <li class="list-group-item no-border">
                    Enrolled Courses: <strong>@Model.EnrolledCourses.Count</strong>
                </li>
                <li class="list-group-item no-border">
                    Completed Courses: <strong>@Model.CompletedCourses.Count</strong>
                </li>
                <li class="list-group-item no-border">
                    Created Courses: <strong>@Model.CreatedCourses.Count</strong>
                </li>
            </ul>

            <ul class="list-group list-group-flush no-border">
                <li class="list-group-item no-border">
                    Course Comments: <strong>@Model.CourseComments.Count</strong>
                </li>
                <li class="list-group-item no-border">
                    Course Ratings: <strong>@Model.RatedCourses.Count</strong>
                </li>
            </ul>

        </div>

        <form asp-controller="Account" asp-action="Update" method="get">
            <input style="margin: 25px auto; display: block; width: 100%" class="btn btn-primary" type="submit" value="Update Profile"/>
        </form>
        @{
            if (Model.UserRole == UserRole.Student
                && Model.TeacherApplication is null)
            {
                <form asp-controller="Application" asp-action="Create" method="get">
                    <input style="margin: 25px auto; display: block; width: 100%" class="btn btn-primary" type="submit" value="Apply for a Teacher"/>
                </form>
            }
            else if (Model.TeacherApplication is not null && !Model.TeacherApplication.IsCompleted)
            {
                <input style="margin: 25px auto; display: block; width: 100%" class="btn btn-primary" value="Application pending" disabled/>
            }
        }

    </div>

    <div class="user-content-container">

        <h3 class="username">Enrolled Courses (@Model.EnrolledCourses.Count) </h3>
        @if (Model.EnrolledCourses.Count == 0)
        {
            <div class="text-muted text-center">The user hasn't enrolled in any courses. </div>
        }
        <div class="accordion" id="enrolledCourses">
            @foreach (var course in Model.EnrolledCourses)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-@course.Id">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-enrolled-@course.Id" aria-expanded="false" aria-controls="collapse-@course.Id">
                            <img class="language-flag" src="~/images/flags/@(course.CourseTopic).jpg" alt=""/> &nbsp; @course.Title
                        </button>
                    </h2>
                    <div id="collapse-enrolled-@course.Id" class="accordion-collapse collapse" aria-labelledby="heading-@course.Id" data-bs-parent="#enrolledCourses">
                        <div class="accordion-body">

                            <ol class="list-group list-group-flush list-group-numbered">
                                @foreach (var lecture in course.Lectures)
                                {
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto d-flex align-items-center">
                                            <a asp-controller="Lecture" asp-action="Details" asp-route-courseId="@course.Id" asp-route-id="@lecture.Id" style="text-decoration:none;">
                                                @lecture.Title &nbsp;
                                            </a>
                                            @if (lecture.Submissions.Any(s => s.StudentId == Model.Id))
                                            {
                                                <i class="fa-solid fa-circle-check" style="color: green;"> &nbsp;&nbsp;</i>
                                            }
                                            @{
                                                var grade = lecture.Submissions.FirstOrDefault(s => s.StudentId == Model.Id)?.Grade;
                                                if (grade != null)
                                                {
                                                    <div><i class="fa-solid fa-graduation-cap"></i> Grade: @grade</div>
                                                }
                                            }
                                        </div>
                                    </li>
                                }
                            </ol>

                        </div>
                    </div>
                </div>
            }
        </div>

        <h3 class="username mt-4">Completed Courses (@Model.CompletedCourses.Count)</h3>
        @if (Model.CompletedCourses.Count == 0)
        {
            <div class="text-muted text-center">The user hasn't completed any courses. </div>
        }
        <div class="accordion" id="completedCourses">
            @foreach (var course in Model.CompletedCourses)
            {
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-completed-@course.Id">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-completed-@course.Id" aria-expanded="false" aria-controls="collapse-@course.Id">
                            <img class="language-flag" src="~/images/flags/@(course.CourseTopic).jpg" alt=""/> &nbsp; @course.Title
                        </button>
                    </h2>
                    <div id="collapse-completed-@course.Id" class="accordion-collapse collapse" aria-labelledby="heading-completed-@course.Id" data-bs-parent="#completedCourses">
                        <div class="accordion-body">

                            <ol class="list-group list-group-flush list-group-numbered">
                                @foreach (var lecture in course.Lectures)
                                {
                                    <li class="list-group-item d-flex justify-content-between align-items-start">
                                        <div class="ms-2 me-auto d-flex align-items-center">
                                            <a asp-controller="Lecture" asp-action="Details" asp-route-courseId="@course.Id" asp-route-id="@lecture.Id" style="text-decoration:none;">
                                                @lecture.Title &nbsp;
                                            </a>
                                            @if (lecture.Submissions.Any(s => s.StudentId == Model.Id))
                                            {
                                                <i class="fa-solid fa-circle-check" style="color: green;"> &nbsp;&nbsp;</i>
                                            }
                                            @{
                                                var grade = lecture.Submissions.FirstOrDefault(s => s.StudentId == Model.Id)?.Grade;
                                                if (grade != null)
                                                {
                                                    <div><i class="fa-solid fa-graduation-cap"></i> Grade: @grade</div>
                                                }
                                            }
                                        </div>
                                    </li>
                                }
                            </ol>

                        </div>
                    </div>
                </div>
            }
        </div>

        @if (User.Identity is { IsAuthenticated: true } && (User.IsInRole("Admin") || User.IsInRole("Teacher")))
        {
            <h3 class="username mt-4">Created Courses (@Model.CreatedCourses.Count)</h3>
            @if (Model.CreatedCourses.Count == 0)
            {
                <div class="text-muted text-center">The user hasn't created any courses. </div>
            }

            <div class="accordion" id="createdCourses">
                @foreach (var course in Model.CreatedCourses)
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-created-@course.Id">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-created-@course.Id" aria-expanded="false" aria-controls="collapse-@course.Id">
                                <img class="language-flag" src="~/images/flags/@(course.CourseTopic).jpg" alt=""/> &nbsp; @course.Title
                            </button>
                        </h2>
                        <div id="collapse-created-@course.Id" class="accordion-collapse collapse" aria-labelledby="heading-created-@course.Id" data-bs-parent="#createdCourses">
                            <div class="accordion-body">

                                <ol class="list-group list-group-flush list-group-numbered">
                                    @foreach (var lecture in course.Lectures)
                                    {
                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">
                                                    <a asp-controller="Lecture" asp-action="Details" asp-route-courseId="@course.Id" asp-route-id="@lecture.Id" style="text-decoration:none;">
                                                        @lecture.Title &nbsp;
                                                    </a>
                                                    @if (lecture.Submissions.Any(s => s.StudentId == Model.Id))
                                                    {
                                                        <i class="fa-solid fa-circle-check" style="color: green;"></i>
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ol>

                            </div>
                        </div>
                    </div>
                }
            </div>

            <h3 class="username mt-4">Draft Courses (@draftCourses.Count)</h3>
            @if (draftCourses.Count != 0)
            {
                <div class="text-muted text-center">The user doesn't have any draft courses. </div>
            }

            <div class="accordion" id="draftCourses">
                @foreach (var course in Model.CreatedCourses.Where(c => c.Published == false))
                {
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="heading-draft-@course.Id">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-draft-@course.Id" aria-expanded="false" aria-controls="collapse-@course.Id">
                                <img class="language-flag" src="~/images/flags/@(course.CourseTopic).jpg" alt=""/> &nbsp; @course.Title
                            </button>
                        </h2>
                        <div id="collapse-draft-@course.Id" class="accordion-collapse collapse" aria-labelledby="heading-draft-@course.Id" data-bs-parent="#draftCourses">
                            <div class="accordion-body">

                                <ol class="list-group list-group-flush list-group-numbered">
                                    @foreach (var lecture in course.Lectures)
                                    {
                                        <li class="list-group-item d-flex justify-content-between align-items-start">
                                            <div class="ms-2 me-auto">
                                                <div class="fw-bold">
                                                    <a asp-controller="Lecture" asp-action="Details" asp-route-courseId="@course.Id" asp-route-id="@lecture.Id" style="text-decoration:none;">
                                                        @lecture.Title &nbsp;
                                                    </a>
                                                    @if (lecture.Submissions.Any(s => s.StudentId == Model.Id))
                                                    {
                                                        <i class="fa-solid fa-circle-check" style="color: green;"></i>
                                                    }
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ol>

                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    </div>
</div>